body{font-family: 'Almarai', sans-serif;}

.intro{
    width: 100%;
    height: 100vh;

    background: url(../img/bk1.svg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.header_name {
    font-size: 45px;
    font-weight: 700;
    line-height: 5;
    text-align: center;
}

.Designer{
    font-size: 20px;
    text-align: center;
    margin: -80px;
    color: #6C6C6C;
    
}